<html>
<head>
<title>Sign up</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid" style="background-color: gray;">
        <h4 class="text-center"><bold>Sign up User</bold></h4>
    </div>
    <form method="post"></form>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            Username:<input type="text" name="username">
            </div>
            <div class="col-md-6">
            Password:<input type="password" name="password">
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6">
            email:<input type="email" name="email">
            </div>
            <div>
            mobile:<input type="number" name="number">
            </div>
        </div>    
            <input type="submit" name="submit">
        
    </div>
    </form>
    <div class="container-fluid" style="background-color: gray;">
        <h4 class="text-center">2021</h4>
    </div>
</body>
</html>